.inmueble{
    width: 430px;
    height: 470px;
    margin-right: 20px;
    box-shadow: 0.3px 0.3px 0.3px 1px rgba(136, 136, 136, 0.267);
    -webkit-box-shadow: 0.3px 0.3px 0.3px 1px rgba(136, 136, 136, 0.267);
    -moz-box-shadow: 0.3px 0.3px 0.3px 1px rgba(136, 136, 136, 0.267);
}

.images > img{
    width: 430px;
    height: 250px;
}

.description{
    padding-left: 10px ;
    color: grey;
    font-size: 17px;
}

.meters{
    font-size: 18px;
    padding-left: 10px ;
    text-align: center;
}

.commodities{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 30px ;
    align-items: center;
}

.commodities > img{
    border-radius: 50%;
    padding-right: 20px;
}

.price{
    margin-top: 20px;
    padding-left: 10px ;
    text-align: center;
}

.inmueble-container{
    cursor: pointer;
}