.footer{
  width: 100%;
  font-size: 12px;
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #D50E49;
  margin-top: 118px;
}

.fLists{
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.fList{
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.fListItem{
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.fText{
  display: flex;
  margin-bottom: 10px;
}